$clr-orange: hsl(25, 97%, 53%);
$clr-white: hsl(0, 0%, 100%);

$clr-light-grey: hsl(217, 12%, 63%);
$clr-medium-grey: hsl(213deg 19.22% 26.01%);
$clr-blue: hsl(213, 19%, 18%);
$clr-dark-blue: hsl(216, 12%, 8%);

$ff-regular: 'Overpass', sans-serif;

$fw-regular: 400;
$fw-bold: 700;